body{
    background-color: #11141B;
    width: 100%;
}
h1{
    color: white;
    font-family: Roboto;
}
h3{
    color: white;
    font-family: Roboto;
}
p{
    color: rgb(219, 218, 218);
    font-family: Roboto;
}
#content{  
    margin: auto;
    width: 70%;
    border: 3px solid rgb(33, 34, 33);
    padding: 10px;
}
#name h1,
#name h3 {
    margin: 5px;
    padding: 0;
}
#name h3 {
    margin-top: 10px;
}
#media {
    display: flex;
    width: 100%;
    height: 100%;
}
img {
    max-width: 50%;
    height: 500px;
}
iframe {
    width: 100%;
    height: 500px;
}
#info{
    width: 70%;
}
